{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table">
        <th>
            <td>Код</td>
            <td>Наименование</td> 
            <td>Дата рождения</td>
            <td>Должность</td>
            <td>Паспорт</td>
            <td>Номер счёта</td>
        </th>
        <tr>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
    
{% endblock %}
